/ {
    aliases {
        my-button-1 = &cbutton_1;
        my-button-2 = &cbutton_2;
    };

    simple-button {
        cbutton_1: custom_button_1 {
            compatible = "simple,button";
            pin = <&d4>;
        };

        cbutton_2: custom_button_2 {
            compatible = "simple,button";
            pin = <&d5>;
        };
    };

    gpio-keys {
        compatible = "gpio-keys";
        debounce-interval-ms = <50>;
        polling-mode;

		d4: gpio4 {
			gpios = <&gpio0 23 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};

		d5: gpio5 {
			gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
    };
};
